.pagination{
    padding-top: 30px;
    .nav-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .page-numbers{
            display: inline-block;
            background-color: $color_black;
            color: $color_white;
            padding: 3px 10px;
            margin: 0;
            margin-left: 5px;
            margin-right: 5px;
            &.current{
                background-color: $color_primary;
                color: $primary_bg_text_color;
            }
            &:hover{
                background-color: $color_hover;
                color: $hover_bg_text_color;
            }
        }
    }
}
.post-navigation,
.posts-navigation{
    padding-top: 30px;
    .nav-links{
        .nav-previous,
        .nav-next{
            margin-top: 15px;
            a{
                display: inline-block;
                background-color: $color_black;
                color: $color_white;
                color: $color_white;
                padding: 5px 15px 7px;
                &:visited{
                    color: $color_white;
                }
                &:hover{
                    background-color: $color_hover;
                    color: $hover_bg_text_color;
                }
            }
        } 
    } 
}
.posts-navigation{
    .nav-links{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        

    }
}
.post-navigation{
    .post-title{
        @include limit(3);
    }
    a{
        text-align: center;
    }
    .nav-links{ 
        @include media(sm){
            display: flex;
            flex-wrap: wrap;
        }
        .nav-previous,
        .nav-next{
            a{
                padding-top: 10px;
                padding-bottom: 13px;
            }
            @include media(sm){
                flex: 0 0 50%;
                max-width: 50%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .nav-next{
        @include media(sm){
            text-align: right;
        }
    }
}
