.#{$prefix}-post-format{ 
    display: inline-block;   
    height: 38px;
    width: 38px;
    padding-top: 3px;
    color: $primary_bg_text_color;
    @include border(2px,solid);
    border-color: $primary_bg_text_color;
    font-size: 18px;
    text-align: center;
    border-radius: 100%;
}
.nr-readtime-section{
    display: flex;
    flex-wrap: wrap;
    .icon{
        padding: 0 5px;
    }
    span,
    .twp-read-time{
        display: inline-block;
    }
    i{
        font-size: 12px;
    }
}
.post-read-time{
    background-color: rgba($color_black,0.63);
    color: $color_white;
    display: inline-block;
    padding: 0 15px;
    height: 27px;
    line-height: 27px;
}