

.breadcrumbs a {
    color: inherit;
}

.entry-breadcrumb{
    font-size: 90%;
    padding: 5px 0 15px;
    @include border-bottom();
    border-color: rgba($color_shade,0.43);
    font-weight: $font_weight_semi_bold;
    ul{
        @extend %reset-ul;
        display: flex;
        flex-wrap: wrap;
        align-items: center;;
    }
    li{
        padding-top: 10px;
        display: inline-block;
    }
    span{
        position: relative;
        &:before{
            content: '/';
            margin: 0 6px;
            color: rgba(0, 0, 0, 0.24);
        }
    }
    .trail-item{
        &.trail-begin{
            span{
                padding-left: 0;
                &:before{
                    content: none;
                }
            }
        }
    }
}
