%reset-ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
%ionicons{
    display: block;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
}
%clearfix{
    &:before,
    &:after{
        clear: both;
        content:'';
        display: block;

    }
}

%overlay{
    position: relative;
    &:before{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}