$prefix                         : "nr"; 
$primary_font                   : "Roboto";
$secondary_font                 : "Poppins";   
$font_weight_semi_bold          : 600;
$font_weight_bold               : 800;
$color_black                    : #010101;
$color_white                    : #fff;
$color_primary                  : #FFA500;
$primary_bg_text_color          :  #fff;
$color_hover                    : #d0021b;
$hover_bg_text_color            : #fff;
$color_shade                    : rgb(215,209,209);